.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #8adf86 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #8adf86;
    border-radius: 100px;
}
